.stylish-input-group {
    padding-top: 10px;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
}

.transparent {
    background: transparent;
    margin: 0;
}

.stylish-input-group .search-panel {
    border: 1px solid #cccccc;
    border-right: 0;
    border-radius: 4px;
}